<div class="container">
    <div class="new-car">
        <h2>New car post</h2>
        <form>
            <div class="fields">
                <div class="field new-car-brand">
                    <label for="brand">Brand</label>
                    <input type="text" id="brand" name="brand">
                </div>
                <div class="field new-car-model">
                    <label for="model">Model</label>
                    <input type="text" id="model" name="model">
                </div>
                <div class="field new-car-image">
                    <label for="image">ImageURL</label>
                    <input type="text" id="image" name="image">
                </div>
                <div class="field new-car-price">
                    <label for="model">Price</label>
                    <input type="text" id="price" name="price">
                </div>
                <div class="field new-car-year">
                    <label for="year">Year</label>
                    <input type="text" id="year" name="year">
                </div>
                <div class="field new-car-city">
                    <label for="city">City</label>
                    <input type="text" id="city" name="city">
                </div>
                <div class="field new-car-kilometers">
                    <label for="kilometers">Kilometers</label>
                    <input type="text" id="kilometers" name="kilometers">
                </div> 
                <div class="field new-car-gearbox">
                    <label for="gearbox">Gearbox</label>
                    <input type="text" id="gearbox" name="gearbox">
                </div>                
            </div>
            <button>Submit</button>
        </form>
    </div>
</div>
