<div class="container">
    <div class="new-car">
        <h2>New car post</h2>
        <form class="add-form" #form="ngForm" (ngSubmit)="addCar(form)">
            <div class="fields">
                <div class="field new-car-brand">
                    <label for="brand">Brand</label>
                    <input 
                    type="text" 
                    id="brand" 
                    name="brand"
                    ngModel
                    #brand="ngModel">
                </div>
                <div class="field new-car-model">
                    <label for="model">Model</label>
                    <input 
                    type="text" 
                    id="model" 
                    name="model"
                    ngModel 
                    #model="ngModel">
                </div>
                <div class="field new-car-image">
                    <label for="image">ImageURL</label>
                    <input 
                    type="text" 
                    id="image" 
                    name="image"
                    ngModel
                    #imageUrl="ngModel">
                </div>
                <div class="field new-car-price">
                    <label for="price">Price</label>
                    <input 
                    type="text" 
                    id="price" 
                    name="price"
                    ngModel
                    #price="ngModel">
                </div>
                <div class="field new-car-year">
                    <label for="year">Year</label>
                    <input 
                    type="text" 
                    id="year" 
                    name="year"
                    ngModel
                    #year="ngModel">
                </div>
                <div class="field new-car-city">
                    <label for="city">City</label>
                    <input 
                    type="text" 
                    id="city" 
                    name="city"
                    ngModel
                    #city="ngModel">
                </div>
                <div class="field new-car-kilometers">
                    <label for="kilometers">Kilometers</label>
                    <input 
                    type="text" 
                    id="kilometers" 
                    name="kilometers"
                    ngModel
                    #kilometers="ngModel">
                </div> 
                <div class="field new-car-gearbox">
                    <label for="gearbox">Gearbox</label>
                    <input 
                    type="text" 
                    id="gearbox" 
                    name="gearbox"
                    ngModel
                    #gearbox="ngModel">
                </div>       
                <div class="field new-car-color">
                    <label for="color">Color</label>
                    <input 
                    type="text" 
                    id="color" 
                    name="color"
                    ngModel
                    #color="ngModel">
                </div>      
                <div class="field new-car-doors">
                    <label for="doors">Doors</label>
                    <input 
                    type="text" 
                    id="doors" 
                    name="doors"
                    ngModel
                    #doors="ngModel">
                </div>     
                <div class="field new-car-horsepowers">
                    <label for="horsepowers">Horsepowers</label>
                    <input 
                    type="text" 
                    id="horsepowers" 
                    name="horsepowers"
                    ngModel
                    #horsepowers="ngModel">
                </div>               
            </div>
            <button>Submit</button>
        </form>
    </div>
</div>
