<header class="site-header">
    <div>
        <div class="header-title">
            <h2>CarFlip</h2>
        </div>
        <div class="header-nav">            
        <nav class="nav-bar">
            <ul>
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    <a routerLink="/brands">Brands</a>
                </li>
                <li>
                    <a routerLink="/cars">Cars</a>
                </li>
                <li class="sell">
                    <a routerLink="/add-car" id="sellText">Sell your car</a>
                </li>
            </ul>
        </nav>
        <div class="header-auth">
            <ul>
                @if(isLoggedIn){
                <li>
                    <a routerLink="/profile">{{username}}'s profile</a>
                </li>
                <li>
                    <a (click)="logout()">Logout</a>
                </li>
                }@else {
                <li>
                    <a routerLink="/auth">SignUp</a>
                </li>
                }
            </ul>
        </div>
    </div>

    </div>

</header>
