<header class="site-header">
    <div>
        <div class="header-title">
            <h2>CarFlip</h2>
        </div>
        <div class="header-nav">            
        <nav class="nav-bar">
            <ul>
                <li>
                    <a routerLink="/home">Home</a>
                </li>
                <li>
                    <a routerLink="/brands">brands</a>
                </li>
                <li>
                    <a routerLink="/cars">All cars</a>
                </li>
            </ul>
        </nav>
        <div class="header-auth">
            <ul>
                <!-- @if(isLoggedIn){ -->
                <li>
                    <!-- <a routerLink="/profile">{{firstName}}'s profile</a> -->
                    <a href="#">Chris</a>
                </li>
                <li>
                    <a>Logout</a>
                </li>
                <!-- }@else { -->
                <li>
                    <a routerLink="/login">Login</a>
                </li>
                <li>
                    <a routerLink="/register">Register</a>
                </li>
                <!-- } -->
            </ul>
        </div>
    </div>

    </div>

</header>
