<div class="container">
    <!-- theme content  -->
    <div class="details-content">
        <!-- theme-title  -->
        <div class="details-title">
            <div class="car-name-wrapper">
                <div class="car-brand">
                    <h2>BMW M3</h2>
                    <p>2002</p>
                </div>
            </div>
        </div>
            <div class="comment">
                <header class="header">
                    <p><span>SolarAutoGroup</span> posted on <time>10 December</time></p>
                </header>
            </div>
    </div>
</div>
