<form [formGroup]="form" (ngSubmit)="register()">
    <h1>Create Account</h1>
    <input
     type="text" 
     placeholder="Username"
     id="username"
     name="username"
     formControlName="username" />

    <input 
    type="email" 
    placeholder="Email"
    id="email"
    name="email"
    formControlName="email" />

    <input 
    type="phone" 
    placeholder="Phone number"
    id="phoneNumber"
    name="phoneNumber"
    formControlName="phoneNumber" />

    <input 
    type="password" 
    placeholder="Password"
    id="password"
    name="password"
    formControlName="password" />

    <button
    [disabled]="form.invalid"
    [style]="{opacity: form.invalid ? 0.4 : 1}">Sign Up</button>
</form>
